# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Continuous Integration

on: pull_request

env:
  IMAGE_HUB: ghcr.io/apache/skywalking-showcase
  IMAGE_TAG: ${{ github.sha }}

jobs:
  e2e-tests:
    name: e2e tests(kubenretes platform)
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Check out source code
        uses: actions/checkout@v2
      - name: Build Docker Image
        shell: bash
        run: make docker -j 5
      - name: Run E2E Test
        uses: apache/skywalking-infra-e2e@996ed8902e941e2883fcf0ac5b3090364942d205
        with:
          e2e-file: test/e2e/e2e.yaml